.about {
 /* @extend %page;
  position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEF9F3;
  color: $color-bright-grey;
}
.about__wrapper {
    padding-top: 30rem
}

.about__title {
  @extend %title-100;

  max-width: 124rem;
  margin: auto;
  text-align: center;

  @include media('<phone') {
    max-width: 67.7rem;
  }
}