.preloader {
  @extend %center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bright-grey;
  color: $color-white;
  text-align: center;
  overflow: hidden;
  z-index: 100;
}

.preloader__none {
  display: none;
}

.preloader__text {
  font-size: 4rem;
  max-width: 66rem;
  line-height: 1.3;

  span {
    display: inline-block;
    overflow: hidden;
  }

  span span {
    @extend %title-53;
  }
}
.preloader__number {
  @extend %description-14;
  position: absolute;
  overflow: hidden;
  bottom: 5.1rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  /* display: none; */
  z-index: 100;

  @include media('<phone') {
    font-size: 2.5rem;
  }
}

.preloader__number__text {
  display: inline-block;
}

/* about us */
.preloader__about {
  @extend %center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bright-grey;
  color: $color-white;
  text-align: center;
  overflow: hidden;
  z-index: 100;
}


/* about us */
.preloader__about_out{
  @extend %center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f20;
  color: $color-white;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  opacity: 0;
}