.navigation{
  display: grid;
  grid-area: 1 / 1 / 2 / 5;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  color: color-bright-grey;
  pointer-events: none;
}
.navigation__link{
  width: 100%;
  display: grid;
  align-content: space-around;
  padding: 20px;
  pointer-events: auto;
  height: 2rem;
  transition: opacity 0.4s ease;
  
  &:hover {
    opacity: 0.5;
  }

}
.navigation__list{
  width: 100%;
  padding: 20px;
  display: grid;
  justify-content: end;
}

.navigation__list {
}
.navigation__list__item {
  position: absolute;
  right: 4rem;
  top: 4rem;
  pointer-events: auto;
    justify-content: end;
}
.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  display: block;
  line-height: 1;
}