@import url('reset.css');

*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html{
  @extend %cover;
    
  background:$color-contessa;
  color: $color-white;
  font-size: calc(100vw / 1920 * 16);
  line-height: 1;
  overflow: hidden;
  position: fixed;


  @include media('<phone'){
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;
  font-family: $font-suisse-bp;
  position: fixed;
  background-color: aquamarine;
}
